.center {
  text-align: center;
}

.row{
  text-align: center;
}

.format input{
  border-radius: 1em;
  width: 200px;
  text-align: center;
}

.format2 input{
  border-radius: 1em;
  width: 300px;
  text-align: center;
}

.format select{
  border-radius: 1em;
  text-align: center;
  
}

.format label{
  border-radius: 1em;
  text-align: center;
  
}